@import "bootstrap/dist/css/bootstrap.min.css";

.parallax-section {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.hero {
  background-image: url('/images/hero-background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notFound-container {
  height: 91vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  padding: 20px;
}


.laws .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.laws .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cta {
  background: linear-gradient(45deg, #fada79, #ffe56f);
}

.nav-hover {
  transition: color 0.3s ease;
}

.nav-hover:hover {
  background-color: rgba(245, 166, 35, 0.2);
  text-decoration: none;
}

.navbar {
  border-bottom: 1px solid #f5a623;
}

.navbar-brand {
  font-size: 1.5rem;
}